In [54]:
# Import Pandas

import pandas as pd

In [3]:
# Import CSV files

names = ["age", "workclass", "fnlwgt", "education", "education_num",
"marital_status", "occupation", "relationship", "race", "sex",
"capital_gain", "capital_loss", "hours_per_week", "native_country", "income"]
adult_df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data",
header=None, names=names, sep=",\s+", na_values="?",
verbose=True, engine='python')
test_df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test",
header=None, names=names, sep=",\s+", na_values="?", verbose=True,
skiprows=[0], engine='python')

# Tweak income value format

test_df["income"] = test_df["income"].apply(lambda x: x[:-1])

Filled 1836 NA values in column workclass
Filled 1843 NA values in column occupation
Filled 583 NA values in column native_country
Filled 963 NA values in column workclass
Filled 966 NA values in column occupation
Filled 274 NA values in column native_country

In [4]:
print (" Columns Information :")
print ( adult_df . info () )
print ("")
print (" Summary statistics of Train dataset :")
print ( adult_df . describe () )
print ("")
print (" Summary statistics of Test dataset :")
print ( test_df . describe () )

 Columns Information :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         30725 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education_num     32561 non-null int64
marital_status    32561 non-null object
occupation        30718 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital_gain      32561 non-null int64
capital_loss      32561 non-null int64
hours_per_week    32561 non-null int64
native_country    31978 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

 Summary statistics of Train dataset :
                age        fnlwgt  education_num  capital_gain  capital_loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours_per_week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

 Summary statistics of Test dataset :
                age        fnlwgt  education_num  capital_gain  capital_loss  \
count  16281.000000  1.628100e+04   16281.000000  16281.000000  16281.000000
mean      38.767459  1.894357e+05      10.072907   1081.905104     87.899269
std       13.849187  1.057149e+05       2.567545   7583.935968    403.105286
min       17.000000  1.349200e+04       1.000000      0.000000      0.000000
25%       28.000000  1.167360e+05       9.000000      0.000000      0.000000
50%       37.000000  1.778310e+05      10.000000      0.000000      0.000000
75%       48.000000  2.383840e+05      12.000000      0.000000      0.000000
max       90.000000  1.490400e+06      16.000000  99999.000000   3770.000000

       hours_per_week
count    16281.000000
mean        40.392236
std         12.479332
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

In [101]:
# Create function q1

def q1(df):
    return df[pd.isna(df.education)].count()

In [90]:
# Create function q2

def q2(df):
    return df[(df.age <= 60) & (df.age <= 40)].count()

In [91]:
# Create function q3

def q3(df):
    temp = df[(df.sex == "Male")]
    return temp[['age']].mean()

In [92]:
# Create function q4

def q4(df):
    return df[(df.native_country == "England") & (df.sex == "Female")].count()

In [104]:
# Create function q5

def q5(df):
    return df[(df.income == ">50K") & (df.native_country == "United-States")].std()

In [94]:
# Create function q6

def q6(df, a, b):
    return (df[(df.workclass == a) & (df.income == ">50K")].count() - df[(df.workclass == b) & (df.income == ">50K")].count()).bool(df[['age']].count() > 0)
    
print(q6(adult_df, "Private", "State-gov"))

TypeError: bool() takes 1 positional argument but 2 were given

In [95]:
# Create function q7

def q7(df):
    return df[(df.income == "<=50K") & (df.hours_per_week >= 20)].count()

In [96]:
# Create function q8

def q8(df):
    US = df[(df.income == ">50K") & (df.native_country == "United-States")]
    Canada = df[(df.income == ">50K") & (df.native_country == "Canada")]
    India = df[(df.income == ">50K") & (df.native_country == "India")]
    England = df[(df.income == ">50K") & (df.native_country == "England")]
    Germany = df[(df.income == ">50K") & (df.native_country == "Germany")]
    return {"United-States": US[['hours_per_week']].mean(), 
           "Canada": Canada[['hours_per_week']].mean(),
           "India": India[['hours_per_week']].mean(),
           "England": England[['hours_per_week']].mean(),
           "Germany": Germany[['hours_per_week']].mean()}

print (q8(adult_df))

{'United-States': hours_per_week    45.505369
dtype: float64, 'Canada': hours_per_week    45.641026
dtype: float64, 'India': hours_per_week    46.475
dtype: float64, 'England': hours_per_week    44.533333
dtype: float64, 'Germany': hours_per_week    44.977273
dtype: float64}

In [105]:
# Test output

print("**1**")
print(q1(adult_df))
print("**2**")
print(q2(adult_df))
print("**3**")
print(q3(adult_df))
print("**4**")
print(q4(adult_df))
print("**5**")
print(q5(adult_df))
print("**6**")
#print(q6(adult_df, "Private", "State-gov"))
print("**7**")
print(q7(adult_df))
print("**8**")
print(q8(adult_df))

**1**
age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64
**2**
age               19118
workclass         18096
fnlwgt            19118
education         19118
education_num     19118
marital_status    19118
occupation        18089
relationship      19118
race              19118
sex               19118
capital_gain      19118
capital_loss      19118
hours_per_week    19118
native_country    18770
income            19118
dtype: int64
**3**
age    39.433547
dtype: float64
**4**
age               32
workclass         30
fnlwgt            32
education         32
education_num     32
marital_status    32
occupation        30
relationship      32
race              32
sex               32
capital_gain      32
capital_loss      32
hours_per_week    32
native_country    32
income            32
dtype: int64
**5**
age                   10.485946
fnlwgt            102758.910491
education_num          2.329130
capital_gain       14418.232586
capital_loss         594.717865
hours_per_week        11.025092
dtype: float64
**6**
**7**
age               23133
workclass         21801
fnlwgt            23133
education         23133
education_num     23133
marital_status    23133
occupation        21796
relationship      23133
race              23133
sex               23133
capital_gain      23133
capital_loss      23133
hours_per_week    23133
native_country    22723
income            23133
dtype: int64
**8**
{'United-States': hours_per_week    45.505369
dtype: float64, 'Canada': hours_per_week    45.641026
dtype: float64, 'India': hours_per_week    46.475
dtype: float64, 'England': hours_per_week    44.533333
dtype: float64, 'Germany': hours_per_week    44.977273
dtype: float64}